{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        },
        "loose": true,
        "modules": false
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread"
  ]
}